TODIDLOG_GEMINI_API_KEY=
TODIDLOG_REGISTRATION_TOKEN=
# TODIDLOG_SQLITE_PATH=data/todidlog.sqlite
# TODIDLOG_SESSION_DAYS=30
# TODIDLOG_COOKIE_SECURE=false
# TODIDLOG_SYNC_MAX_JSON_BYTES=5242880
# PORT=5173
# HOST=0.0.0.0
# GEMINI_TIMEOUT_MS=7000
# GEMINI_MAX_OUTPUT_TOKENS=1024
# GEMINI_THINKING_BUDGET=0
